<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config xmlns="http://cejug-classifieds.dev.java.net/server/config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://cejug-classifieds.dev.java.net/server/config https://cejug-classifieds.dev.java.net/ws/schema/config/config.xsd"
	version="1" title="demo" idiom="en-US" date="2007-05-27">
	<injection
		service.implementation="net.java.dev.cejug.classifieds.server.reference.ClassifiedsReferenceImplementation"></injection>
</config>