<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping package="net.java.dev.cejug.classifieds.login.entity" />
		<mapping class="net.java.dev.cejug.classifieds.login.entity.GroupEntity" />
		<mapping class="net.java.dev.cejug.classifieds.login.entity.UserEntity" />
	</session-factory>
</hibernate-configuration>
