@CHARSET "UTF-8";

.logo {
	float: left;
	background-image: url('skins/shared/logo98x82.gif');
	background-position: left;
	background-repeat: no-repeat;
	text-indent: 25px;
	max-width: 25%;
	vertical-align: middle;
}