/* 
Document   : style.css
Created on : Oct 7, 2008, 10:47:54 AM
Author     : fgaucho
Description:
Purpose of the stylesheet follows.
*/ /* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.featureBorder {
	border: solid;
	border-width: 1px;
	border-color: black;
}

.fullscreen {
	height: 100%;
	font-family: Cortoba, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 1px 1px 0px 1px;
}

.topPane {
	width: 100%;
	height: auto;
	display: block;
	float : left;
	border: solid;
	border-width: 1px;
	border-color: black;
	float: left;
}

.topLeftPane {
	float: left;
	width: auto;
	height: 100%;
}

.generalPadding {
	padding: 6px;
}

.topRightPane {
	float: right;
	width: auto;
	height: 100%;
}

.topCenterPane {
	float: left;
	display:table-row;
	min-height: 100%;
	width: auto;
	vertical-align: middle;
	margin: auto;
	text-align: top;
}

.midCenterPane {
	float: left;
	width: 100%;
	height: 90%;
	border: 1px;
	border-style: solid;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.leftPane {
	float: inherit;
	min-width: 10%;
	max-width: 15%;
	height: 100%;
	padding: 1px 1px 1px 1px;
}

.fontHeader {
	font-size: 200%;
	font-weight: bold;
	font-family: monaco,cursive;
	text-align: center;
	color: black;
}

.loginrow {
	width: 100%;
	margin: 2px;
}

.loginlabel {
	float: left;
	width: 30%;
	height: auto;
}

.loginlabel a {
	text-decoration: none;
}

.loginfield {
	float: right;
	max-width: 70%;
	height: auto;
	margin-top: 1px;
}

.submit {
	float: right;
	max-width: 70%;
	height: auto;
	margin-top: 1px;
}

.categories {
	
}

.categories.item {
	
}

.title {
	font-family: serif;
	font-variant: small-caps;
}

.searchpane {
	float: left;
	width: 100%;
	height: 5%;
	padding-top: 5px;
}

.searchfield {
	float: inherit;
	width: 30%;
}

.thinborder {
	border: #C4C0B9;
	border-width: 1px;
	border-style: solid;
}

.spacerright {
	margin-right: 6px;
}

.searchcombo {
	float: inherit;
	background: inherit;
}

.searchsubmit {
	float: inherit;
}

.offers {
	float: left;
}

.simple {
	float: left;
	width: 30%;
	max-height: 5%;
	color: blue;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	text-align: justify;
	margin-top: 5px;
}

.simple a {
	float: left;
	color: blue;
	text-decoration: none;
	max-width: 60%;
}

.simple label {
	color: black;
	float: left;
	width: 100%;
}

.ad.oneColumn {
	float: left;
	min-width: 15%;
	max-width: 30%;
}

.ad.twoColumn {
	float: inherit;
	min-width: 30%;
	max-width: 60%;
}

.ad.oneRow {
	width: 10%;
}

.ad.twoRow {
	max-width: 20%;
}

.contact {
	vertical-align: middle;
}

.adtitle {
	width: 100%;
	float: left;
}

.adtitle a {
	max-width: 70%;
}

.adtitle label {
	float: right;
	text-align: right;
	background-image: url('img/phone.png');
	background-position: left;
	background-repeat: no-repeat;
	text-indent: 25px;
	max-width: 25%;
	vertical-align: middle;
}
