body {
	background-image: url(../images/templateNew/background.gif);
	background-repeat: repeat;
	margin: 0px;
    margin-bottom:10px;
    padding-top:6px;
	font-size: small;
	font-family: arial, sans-serif;
}
.topPane {
	margin-bottom:6px;
	height:100%;
}


#headerbar{
	background-image: url(../images/templateNew/bar.jpg);
	background-repeat: repeat-x;
	height: 50px;
	color:#FFFFFF;
	float:none;
	width:100%;
	display:block;
	clear:both;
}

.inputSearch {
	float:left;
	margin-left:181px;
	margin-top:10px;
}

#headerForm {
	float:left;
	padding:10px;
	vertical-align:middle;
}

#searchPane{
	float:right;
	padding-right:10px;
	padding-top:0px;
	background-image: url(../images/templateNew/search.jpg);
	background-position: top left;
	background-repeat: no-repeat;
}



a.publishLink:link, a.publishLink:hover, a.publishLink:visited, a.publishLink:active{
	color:#FFFFFF;
}

.midCenterPane {
	margin-left:auto;
	margin-right:auto;
	width: 99%;
	height: 100%;
}

.dr-table-cell, .dr-table{
	border:none;
}
.dr-table-cell{
  vertical-align:top;
}