/* CEJUG-Classifieds CSS */
.optionList {
	height: 22px;
}

.vertical-menu-cell {
	padding: 0px 4px 0px 4px;
}

.label {
	font-weight: bold;
}

.barsearch {
	height: 14px;
	width: 100px;
}

.barsearchbutton {
	border-width: 1px;
	background-color: #{ a4jSkin . generalBackgroundColor
}
;
}